$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$fullheight: 100%;


@import 'reset';
@import 'bourbon/_bourbon.scss';
@import 'vendors/bootstrap-select.scss';
@import "neat/neat";
@import "neat/neat-helpers";



body {
  font: 100% $font-stack;
  color: $primary-color;
  @include background-image(linear-gradient( transparent 10%, #e0e0e0));
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}



  .wrapperslider {
    @include outer-container;
  }

  .wrapperslider div {
    @include fill-parent;
  }

  .scontrol {
    @include button;
  }

