$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@import 'reset';
@import 'bourbon/_bourbon.scss';
@import 'vendors/bootstrap-select.scss';
@import "neat/neat";
@import "neat/neat-helpers";


body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}



  .wrapperslider {
    @include outer-container;
  }

  .wrapperslider div {
     @include span-columns(12 of 12);
  }

  .scontrol {
    @include button;
  }

