
@import 'reset.scss';
@import '../bourbon/_bourbon.scss';
@import "../neat/neat";
@import "../neat/neat-helpers";
@import "nav.scss";
@import "footer.scss";

$navheight: 60px;
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #fff;
$fullheight: 100%;
$backnormal: #000;
$backnormal2: #555;
$backhover: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  @include background-image(linear-gradient( transparent 10%, #e0e0e0));
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  
}

.container {
  @include outer-container;
}

.gallery {
 @include span-columns(12);
 height: 400px;
}

.imgbox {
  @include span-columns(4 of 12);
}

.imgbox img {
   @include fill-parent;
}

.wrapperslider {
     margim-bottom: em(50px);
}

  .wrapperslider div, .wrapperslider div img {
    @include fill-parent;

  }

  .scontrol {
    @include button;
  }

  .overlay {
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    position: fixed;
    bottom:0;
    display: none;
    text-align: center;
  }

  .overlay img {
    max-height: 80%;
      margin-top: 2%;
  }


  .thumbnails {
       @include outer-container;
  }

  .thumbnail_ul {
      @include fill-parent;
  }

  .thumbnail_ul li {
    @include span-columns(3 of 12);
  }
