body {

background-image: url(../images/bg.jpg);
background-size: cover;

}

header {
	padding: 40px 0px 0px 0px;
	margin-bottom: 100px;
}

footer {
	height: 40px;
	background-color: #b61729;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	word-spacing: 3px;
	margin-top: 150px
}

.ate102 {
	margin: 0 auto;
	display: block;
}

#estaciorario {
padding-left: 30px;
margin-top: 100px;
}
.estaciotitle {
	font-size: 25px;
	color: #fff;
	text-align: left;
	font-weight: normal;
}
.estaciobody {
	font-size: 16px;
	color: #fff;
	font-weight: lighter;
}
.lojastitle {
	font-size: 38px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding-bottom: 15px;
}
.lojasdescript {
	font-size: 13px;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	font-weight: lighter;
}
.lojasdescript span {
	font-weight: bold;
	text-transform: uppercase;
}
.lojasbox {
	padding: 2% 4% 2% 4%;
	background-color: #1f78bc;
}

#ganhe {
margin-top: 100px;
}

#lojasparticipantes {
	margin-top: 100px;
}

.boxganhe1 {

width: 90%;
margin: 0 auto;
padding-top: 15px;

}

.boxganhe2 {

width: 90%;
margin: 0 auto;

}

.acumular {
	font-size: 30px;
	color: #fff;
	text-align: center;
	padding-top: 30px;

}

#ganhe hr {
	padding: 0;
	margin: 0;
	text-align: center;
	margin-right: 20%;
	margin-left: 20%;
}

#ganhe h1 {
	font-size: 40px;
	color: #fff;
	padding: 0;
	margin: 0;
	text-align: center;

}

#ate10 {
	margin-top: 100px;
}

.ate10 {
	margin: 0 auto;
	display: block;
}

.confira {
	font-size: 23px;
	padding-top: 15px;
	text-decoration: underline;
	color: #fff;
	text-transform: uppercase;
	display: block;
	text-align: center;
}

.confira:hover {
	color: #fff;
}

.iframereg {
	height: 480px;
}

#selo {
	margin-top: 80px;
	margin-bottom: 150px;
}

#video {
margin-top: 120px;
}

.data {
	font-size: 65px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding-top: 5%;
}
.databottom {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
}

.opensans {
	font-family: 'Open Sans', sans-serif;
}

.condensed {

font-family: 'Open Sans Condensed', sans-serif;

}

.alegreya {

	font-family: 'Lato', sans-serif;
}

.produtodisplay {
	margin: 0 auto;
}

.centralizer {
	margin:0 auto;
}

.socialinks {
	width: 25px;
	background-image: url(../images/socialsprite.png);
	height: 25px;
	background-repeat: no-repeat;
	margin: 0;
	margin-right: 5px;
	padding:0;
	float: right;
}

.face {

}

.insta {
	background-position: -28px;
}

.twitter {

background-position: -56px;

}

#venha {
	text-align: center;
}

.venhaimg {

max-width: 100%;
margin: 0 auto;
display: block;
padding-left: 13%;

}

.toplogo {

max-width: 100%;

}

.luminaria {
	position: absolute;
	right: 180px;
	top: -45px;
}
#produtos {
	width: 100%;
	max-height: 833px;
}

.precoantes {
	font-size: 23px;
	font-weight: 600;
	text-decoration: line-through; color: red;
}

.precoantes1 {
	font-size: 12px;
	position: relative;
	top: -7px;
}
.precoantes2 {
font-weight: 300;
}

.precodepois {
	font-size: 23px;
}

.produtodesc {
float: left;padding-top: 6%;padding-left: 10%;
}

.precodepois1  {
font-size: 50px;font-weight: 400px !important;
}
.precodepois2 {
	font-weight: 600;
}
.precodepois3 {
 font-weight: 400;
}

.imgproduto {
	float: left;
	padding-left: 10%;
	width: 50%;

}

.precoalign {
	position: relative;
	top: -20px;
}

.letterfix {
	letter-spacing: 4px;
}
.lojaoferece {
	position: relative;position: absolute;
    right: 20px;
    bottom: 10px;
}

.nomeproduto { font-size: 35px; padding-bottom: 30px; font-weight: 300; }


#bx-pagerc1, #bx-pagerc2, #bx-pagerc3, #bx-pagerc4, #bx-pagerc5, #bx-pagerc6, #bx-pagerc7, #bx-pagerc8, #bx-pagerc9, #bx-pagerc10, #bx-pagerc11, #bx-pagerc12, #bx-pagerc13, #bx-pagerc14, #bx-pagerc15, #bx-pagerc16, #bx-pagerc17   {
width: 100%;
border-top: 5px solid #005f87;
background-color: #005f87 !important;
position: relative;
left: 4px;
}

#bx-pagerc1 a, #bx-pagerc2 a, #bx-pagerc3 a, #bx-pagerc4 a, #bx-pagerc5 a, #bx-pagerc6 a, #bx-pagerc7 a, #bx-pagerc8 a, #bx-pagerc9 a, #bx-pagerc10 a, #bx-pagerc11 a, #bx-pagerc12 a, #bx-pagerc13 a, #bx-pagerc14 a, #bx-pagerc15 a, #bx-pagerc16 a, #bx-pagerc17 a    {
	border-right: 8px solid #005f87;
	margin-bottom: 5px;
	float: left;
	display: block;

}


#bx-pagerc1 .alpha , #bx-pagerc2 .alpha, #bx-pagerc3 .alpha, #bx-pagerc4 .alpha, #bx-pagerc5 .alpha, #bx-pagerc6 .alpha, #bx-pagerc7 .alpha, #bx-pagerc7 .alpha, #bx-pagerc8 .alpha, #bx-pagerc8 .alpha, #bx-pagerc9 .alpha, #bx-pagerc10 .alpha, #bx-pagerc11 .alpha, #bx-pagerc12 .alpha, #bx-pagerc13 .alpha, #bx-pagerc14 .alpha, #bx-pagerc15 .alpha, #bx-pagerc16 .alpha, #bx-pagerc17 .alpha{
	margin-left: 0;
} 
}

.shakaboom {
	margin: 0 auto;
}


.mycontentfull {
	width: 80%;
	margin: 0 auto;
}


.paddingfix {
	padding:0;
}

.glyphicon {
	color: #fff;
}

.pager-prev3 {
	width: 33px;
	height: 50px;
	display: block;
	background-image: url(../images/leftarrow.png);
	background-repeat: no-repeat;
	float: left;
    position: relative;
    left: 60px;
    top: 26px;
    z-index: 999999;
}

.pager-next3 {
	width: 33px;
	height: 50px;
	display: block;
	background-image: url(../images/rightarrow.png);
	background-repeat: no-repeat;
	float: right;
    position: relative;
    right: 70px;
    top: 26px;
    z-index: 999999;
}

.bxsliderc1 li, .bxsliderc2 li, .bxsliderc3 li, .bxsliderc4 li, .bxsliderc5 li, .bxsliderc6 li, .bxsliderc7 li, .bxsliderc8 li, .bxsliderc9 li, .bxsliderc10 li, .bxsliderc11 li, .bxsliderc12 li, .bxsliderc13 li, .bxsliderc14 li, .bxsliderc15 li, .bxsliderc16 li, .bxsliderc17 li {
background-color: #fff !important;
}

.bxcategory li {
	float: left;

}

.overview ul li .alpha {
	margin-left: 0;
}

.omega {
	border-right: none !important;
}

.next  {
	background-image: url(../images/rightarrow.png);
	background-repeat: no-repeat;
	right: -45px !important;
}


.prev  {
	background-image: url(../images/leftarrow.png);
	background-repeat: no-repeat;
	left: -55px !important;
}

