@media screen and (min-width: 320px) and (max-width: 767px) {
.bottonCompartilhar {
  margin-top: 0;
}
.bottonSaibamais {
  width: auto;
  float: left;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}
#preco {
  position: initial;
  margin:0;}
#precoPro {
  position: initial;
  margin:0;
}
.boxsubProduto {
  margin:0;
}
.textoProduto {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  line-height: 34px;
}

  .boxtextoProduto {
    margin: 0;
    position: initial;
  }

  .produto {
    width: 100%;
    margin-left: 0;
    padding-top: 5%;
  }
  .btSaibaMaias {
    margin:0;
    float: left;
  }
  .btCompartilhar {
    display: none;
  }
  .bottonCompartilharDc {
        font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 11px 77px 9px 75px;

  }
   .boxDescricao {
    height: auto !important;
   }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    margin-top: 0px;
    background: #0075ab;
    height: 160px;
    overflow-x: hidden;
  }
  #header {
      padding: 5px 0 0px;
      border: transparent;
  }
  #logo {
    margin-top: 7%;
}
.imgPortutos {
      display: flex;
      margin: auto;
      width:100%;
}
  .navbar-nav {
    float: left;
  margin: 0;
  margin-top: 20px;
  width: 100%;
  padding: 0px;
  }
#botton{
     background: #0075ab;
      width: 70px;
      height: 93px;
      top: -14px;
      left: 20px;
      margin-bottom: -14px;
}
.nav>li {
  position: relative;
    display: block;
    border-style: solid;
    width: 100%;
    text-align: center;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-toggle {
    border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    margin-left:7px;
    width: 29px;
    height: 5px;
}
.navbar-brand {
    float: left;
    height: 10px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #023;
}
h6{
	font-size:14px;
	padding-top: 70px;
	text-align: center;
}
}
@media (max-width: 1199px){

  .bottonCompartilharDc img { width: 23px; }
  .bottonCompartilharDc {
        padding-left: 20px;
    padding-right: 30px;
  }
  .boxProduto {
      width: 329px;
  }
  h1 {
     font-size: 52px;
 }
 #tituloh1{
 	 width: 569px;
 }
 #boxProdutos {
    min-height: 100%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.redes {
   margin-left: 26%;
}

.bottonCompartilharDc {
    font-size: 15px;
}

.bottonSaibamaisDc {
    font-size: 15px;
}
}
@media (max-width: 991px){

.conteudoRadape {
      flex-grow: 1;
      display: flex;
      text-align: left;
      box-sizing: border-box;
      vertical-align: top;
 }
hr {
    width: 96.5%;
 }
 #textoRodape {
     margin-left: 20px;
 }
 .redes {
     margin-left: 12%;
 }
 h1 {
   font-size: 42px;

 }
 #tituloh1{
 width: 483px;
 }
 #logoSpicy {
     margin-left: 40px;
 }
 .imgDescricao {
     float: left;
 }
 .boxDescricaoPro {
  width: 54%;
 }

 .textoDc {
     font-size: 28px;
     line-height: 44px;
 }
 .precoDcDe {
}
.precoDeDc span {
    font-size: 12px;
}
.precodeProDc {
  font-size: 36px;

}
.textoprecoDe span{
	font-size: 25px;
  position: relative;
  top: -6px;
}
h5.textoDcProduto {
    font-size: 0.8em;

}
.bottonCompartilharDc {
    font-size: 12px;
padding-left: 10px;
    padding-right: 13px;
    line-height: 25px;
}
.bottonCompartilharDc img {
  width: 21px;
}
.btCompartilharDc {
 margin-bottom: 10px;
}
.btSaibaMaiasDc {

}
.bottonSaibamaisDc {
    font-size: 12px;
}
#logoBotafora {
    width: 280px;
}
#dataBataFora {
    padding-top: 50px;
}
}
@media (max-width:767px){
  .textoprecoDe {
      margin-left: 40px;
}
.bottonCompartilharDc img {
  width: 25px;
}

#precoDeDc {
  text-align: left;
  margin-top: 50px;
}
  #BgProdutos {
    padding-bottom: 250px;
  }
  #logoBotafora {
      width: 300px;
      position: relative;
      top: -80%;
  }
  #dataBataFora{
  	font-size:25px;
    padding-top:73px;
  }
  #textoRodape {
      margin-left: auto;
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
  }
  .conteudoRadape {
    display: block;
    text-align: center;
    height:110px;
 }
 .redes {
   margin-left: 42%;
  margin: auto;
 }

#tituloh1{
  width: 66%;
}
#logoSpicy {
   width: 137px;
   height: 138px;
}
.imgDescricao {
  width: 100%;
  }
  #imgDescricao {

    float: left;

}
  .boxDescricaoPro {
padding: 0;
width: 100%;
}
.boxDescricao{
  border:none;
  width: 100%;
  padding: 0;

     }
#container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.boxtextoDcPro {
  width: 100%;
  height:45px;
  float:left;
  padding-left: 20px;

}
.boxtextoDcSub {
    background-color: #000;
    float: left;
    width: 100%;
    height: 45px;
    padding-left: 20px;

}
.textoDc {
    font-size: 29px;
    text-align: left;

}
.precoDcDe {
   padding-left: 0px;

}
#precoProDc {
    text-align: left;
    padding-left: 40px;
}
.precodeProDc {
    font-size: 66px;

}
h5.textoDcProduto {
    font-size: 1.0em;
    text-align: left;
    padding-bottom: 15px;
    padding-left: 40px;
        padding-right: 40px;

}
.btSaibaMaiasDc {

  padding: 0px;
  width: 36%;
  text-align: center;
  margin: 0 auto;
  margin-left: 40px;
}
.bottonSaibamaisDc {
    width: auto;
    font-size: 19px;
    margin: 0 auto;
    padding: 4px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.bottonCompartilharDc {
  font-size: 16px;
  width: 340px;
  margin: 0 auto;
  padding: 5px;
  width: auto;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;

}
.btCompartilharDc {
width: 42%;
text-align: center;
margin: 0 auto;
padding-bottom: 15px;
float: left;
margin-left: 0;
padding-left: 10px;
}
.precoDeDc span {
    font-size: 18px;
    top: -7px;
}
.logoBotafora {
    display: -ms-flex;
    display: -webkit-flex;
    display: block;
    -ms-justify-content: center;
    width: 100%;
    text-align: center;

    margin-top: -50px;
}
.textoprecoDe span {
    font-size: 25px;
    position: relative;
    top: -6px;
}
}

@media (max-width:600px){

  #precoDeDc {
      text-align: left;
      margin-top: 90px;
  }

  .precoDcDe {
      padding-left: 20px;
  }
  .produto { padding-top: 0; padding-left: 0; }

  #preco {width: 100%;}

  .boxProdutos {
width: 100%;
    height: inherit;
    margin: 27px;
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    background: transparent;
    border: 0px;

  }
  .imgPortutos {
        display: flex;
        margin: auto;
        width:100%;
  }
  .boxtextoProduto {
    width: 100%;
    height: initial;
  }
  .textoProduto {
    font-size: 34px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 21px;

}
  .boxsubProduto {
    width: 100%;
      height: initial;
  }
  .textoprecoDe {
      padding-left: 0px;
  }
  .precodeDe span {
      font-size: 22px;
      top: -6px;
  }
  .textoprecoPro {
      font-size: 30px;
  }
  #precoPro {
    padding-left: 20px;
  }
  .precodePro span {
      font-size: 38px;
      top: -20px;
      left: 0px;
  }
  .precodePro {
      font-size: 66px;
      margin-left: 100px;
      margin-top: -52px;
  }
  .bottonSaibamais {
      font-size: 19px;
      width: auto;
      padding-left: 27px;
      padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btSaibaMaias {
    margin-left: auto;
    width: 90%;
    text-align: center;
    padding-left: 20px;
  }
  .btCompartilhar {

      width: 90%;
      text-align: center;
      margin-left: 20px;
  }
  .bottonCompartilhar {
    font-size: 19px;
    width: auto;
    float: left;
  }
.imgProdutos {
  float: left;
    width: 100%;
    height: auto;
}
.boxDescricao {
}
#boxProdutos {

    margin-bottom: 40px;
}
}
@media (max-width:540px){

  #tituloh1{
  	  width: 62%;
  }
}
@media (max-width:490px){

  .bottonCompartilharDc {
    width: 100%;
  }


  .bottonSaibamaisDc  {
        font-size: 19px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btCompartilharDc {
    width: 260px;
    padding-left: 40px;
    margin-left: 0;
  }
  #logoBotafora {
      width: 250px;
  }
  #dataBataFora {
    padding-top: 57px;
    margin: auto;
  }
  hr {
    width: 94.5%;
 }
 h1 {
    font-size: 36px;
}
#logoSpicy {
  width: 107px;
  height: 108px;
  margin-left: 30px;
  margin-top: 10px;
}
.textoDc {
    font-size: 21px;

}

.textoDc {
    font-size: 23px;

}
.precoDcDe {
  padding-left: 20px;
}
 #precoProDc{
   padding-left: 40px;
 }
.textoprecoDe{
	    margin-left: 40px;
}
.precodeProDc {
    font-size: 46px;
}

h5.textoDcProduto {
    font-size: 1.0em;
}
.btSaibaMaiasDc {
width: 260px;
padding-left: 40px;
margin-left: 0;
margin-bottom: 10px;
}
.btCompartilharDc {
}
#imgDescricao {
    width: 80%;
    float: left;
}
}
@media (max-width:400px){
  #logoSpicy {
     width: 87px;
     height: 88px;
     margin-left: 12px;
     margin-top: 10px;
  }
  h1 {
    font-size: 29px;
  }
  .textoProduto {
    font-size: 25px;
  }
  .boxsubProduto {
  }

  .precodeDe span {
    font-size: 14px;
    top: -5px;
  }

  .textoprecoPro {
    font-size: 25px;
  }
  .precodePro {
    font-size: 46px;
    margin-left: 83px;
    margin-top: -40px;
  }
  .precodePro span {
    font-size: 24px;
    top: -16px;
  }
  .btSaibaMaias {
    text-align: left;
  }
  .btCompartilhar {
  }
  #boxProdutos {
      padding-bottom: 120px;
  }
}
@media (max-width:320px){
  hr {
      width: 92.5%;
  }
  .btCompartilharDc {
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .boxsubProduto {float: left;}
.produto { width: 43%;}
}
